<?xml version='1.0' encoding='utf-8'?>
<widget id="jump.rope.survival" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Jump Rope Survival</name>
  <description>Tap to jump over the swinging rope. Endless & Levels modes.</description>
  <author email="you@example.com">You</author>
  <content src="index.html" />
  <preference name="Orientation" value="portrait" />
  <preference name="AndroidXEnabled" value="true" />
  <preference name="SplashScreenDelay" value="0" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <access origin="*" />
  <platform name="android">
    <preference name="android-targetSdkVersion" value="34" />
  </platform>
</widget>
